# Licensed under the AGPLv3+ License: https://www.gnu.org/licenses/
# For details: https://github.com/msftcangoblowm/drain-swamp/blob/master/NOTICE.txt
# https://github.com/pyscaffold/pyscaffold/blob/master/src/pyscaffold/templates/github_ci_workflow.template
# https://docs.github.com/en/actions/using-workflows/storing-workflow-data-as-artifacts#passing-data-between-jobs-in-a-workflow

name: "Quality"

on:
  push:
    branches:
      - master
      - msftcangoblowm/*
  pull_request:
  workflow_dispatch:

defaults:
  run:
    shell: bash

env:
  PIP_DISABLE_PIP_VERSION_CHECK: 1
  LOCK_SUFFIX: ${{ vars.DRAINSWAMP_SET_LOCK == '1' && '.lock' || '.unlock' }}

permissions:
  contents: read

concurrency:
  group: >-
    ${{ github.workflow }}-${{ github.ref_type }}-
    ${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  lint:
    name: "isort black flake8 etc"
    runs-on: ubuntu-latest

    steps:
      - name: "Check out the repo"
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      - name: "Install Python"
        uses: actions/setup-python@f677139bbe7f9c59b41e40162b753c062f5d49a3 # v5.2.0
        with:
          python-version: "3.9" # Minimum of PYVERSIONS
          cache: pip
          cache-dependency-path: |
            requirements/*${{ env.LOCK_SUFFIX }}

      - name: "Install dependencies"
        run: |
          python -m pip install -r requirements/tox$LOCK_SUFFIX
          python -m pip install -r requirements/prod$LOCK_SUFFIX
          python -m pip install -r requirements/kit$LOCK_SUFFIX

      # Create generated files: version file and .lnk files. sdist tarball ignored
      - name: "Build sdist to run plugins. Create generated files"
        env:
          SET_LOCK: ${{ vars.DRAINSWAMP_SET_LOCK }}
        run: |
          set -xe
          echo "python -m build -C--kind='current' -C--set-lock='$SET_LOCK'"
          python -m build -C--kind="current" -C--set-lock="$SET_LOCK"

      - name: "Tox lint"
        run: |
          python -m tox -e lint

  mypy:
    name: "Check types"
    runs-on: ubuntu-latest

    steps:
      - name: "Check out the repo"
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      - name: "Install Python"
        uses: actions/setup-python@f677139bbe7f9c59b41e40162b753c062f5d49a3 # v5.2.0
        with:
          python-version: "3.9" # Minimum of PYVERSIONS, but at least 3.9
          cache: pip
          cache-dependency-path: |
            requirements/*${{ env.LOCK_SUFFIX }}

      - name: "Install dependencies"
        run: |
          # Runs on 3.9, but hashes supported by pip-tools is
          # not supported by setuptools. So don't expect hashes
          python -m pip install -r requirements/tox$LOCK_SUFFIX
          python -m pip install -r requirements/prod$LOCK_SUFFIX
          python -m pip install -r requirements/kit$LOCK_SUFFIX

      # Create generated files: version file and .lnk files. sdist tarball ignored
      - name: "Build sdist to run plugins. Create generated files"
        env:
          SET_LOCK: ${{ vars.DRAINSWAMP_SET_LOCK }}
        run: |
          set -xe
          echo "python -m build -C--kind='current' -C--set-lock='$SET_LOCK'"
          python -m build -C--kind="current" -C--set-lock="$SET_LOCK"

      - name: "Tox mypy"
        run: |
          python -m tox -e mypy

  docs:
    name: "Build docs"
    runs-on: ubuntu-latest
    concurrency:
      group: docs-${{ github.ref }}
      cancel-in-progress: false  # quality then gh-pages
    steps:
      - name: "Check out the repo"
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      - name: "Install Python"
        uses: actions/setup-python@f677139bbe7f9c59b41e40162b753c062f5d49a3 # v5.2.0
        with:
          python-version: "3.9" # Doc version from PYVERSIONS
          cache: pip
          cache-dependency-path: |
            requirements/*${{ env.LOCK_SUFFIX }}

      - name: "Show environment"
        run: |
          set -xe
          python -VV
          python -m site
          env

      - name: "Install dependencies"
        run: |
          set -xe
          python -m pip install -r requirements/tox$LOCK_SUFFIX
          python -m pip install -r requirements/prod$LOCK_SUFFIX
          python -m pip install -r requirements/kit$LOCK_SUFFIX

      # Create generated files: version file and .lnk files. sdist tarball ignored
      - name: "Build sdist to run plugins. Creates generated files"
        env:
          SET_LOCK: ${{ vars.DRAINSWAMP_SET_LOCK }}
        run: |
          set -xe
          echo "python -m build -C--kind='current' -C--set-lock='$SET_LOCK'"
          python -m build -C--kind="current" -C--set-lock="$SET_LOCK"

      - name: "Tox docs"
        run: |
          python -m tox -e docs
