# https://packaging.python.org/en/latest/guides/publishing-package-distribution-releases-using-github-actions-ci-cd-workflows/#the-whole-ci-cd-workflow

name: "release"

# not on every push. Only then a commit is tagged
on:
  push:
    branches:
      - master
    tags:
      - '*.*.*'

defaults:
  run:
    shell: bash

env:
  PIP_DISABLE_PIP_VERSION_CHECK: 1
  DEST_FOLDER: dist/
  LOCK_SUFFIX: ${{ vars.DRAINSWAMP_SET_LOCK == '1' && '.lock' || '.unlock' }}

permissions:
  contents: read  # This is required for actions/checkout

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout the repo
      uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      with:
        # fetch all branches and tags instead of only fetching the ref/SHA that triggered the workflow
        fetch-depth: 0

    # https://stackoverflow.com/questions/66349002/get-latest-tag-git-describe-tags-when-repo-is-cloned-with-depth-1
    # echo "tag=$(git describe --tags `git rev-list --tags --max-count=1`)" >> $GITHUB_OUTPUT
    - name: Get latest tag
      id: vars
      run: |
        echo "tag=$(git describe --tags)" >> $GITHUB_OUTPUT

    - name: Install py39
      uses: actions/setup-python@f677139bbe7f9c59b41e40162b753c062f5d49a3 # v5.2.0
      with:
        python-version: 3.9
        cache: pip
        cache-dependency-path: |
          requirements/*${{ env.LOCK_SUFFIX }}

    - name: "Install tools"
      run: |
        python -m pip install --upgrade -r requirements/kit$LOCK_SUFFIX

    - name: build
      env:
        RELEASE_VERSION: ${{ steps.vars.outputs.tag }}
        SET_LOCK: ${{ vars.DRAINSWAMP_SET_LOCK }}
      run: |
        echo "python -m build -C--kind=$RELEASE_VERSION -C--set-lock=$SET_LOCK"
        python -m build -C--kind="$RELEASE_VERSION" -C--set-lock="$SET_LOCK"

    - name: Store the distribution packages
      uses: actions/upload-artifact@50769540e7f4bd5e21e526ee35c689e35e0d6874 # v4.4.0
      with:
        name: python-package-distributions
        path: ${{ env.DEST_FOLDER }}

  publish-to-pypi:
    name: >-
      Publish Python distribution to PyPI
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
    needs:
    - build
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/drain-swamp
    permissions:
      id-token: write  # IMPORTANT: mandatory for trusted publishing and sigstore

    steps:
    - name: Download all the dists
      uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
      with:
        name: python-package-distributions
        path: ${{ env.DEST_FOLDER }}

    - name: "What did we get?"
      run: |
        ls -alR
        echo "Number of dists"
        ls -1 dist | wc -l

    - name: Publish package
      uses: pypa/gh-action-pypi-publish@0ab0b79471669eb3a4d647e625009c62f9f3b241 # v1.10.1
      with:
        skip-existing: true

  github-release:
    name: >-
      Sign the Python distribution with Sigstore
      and upload them to GitHub Release
    needs:
    - publish-to-pypi
    runs-on: ubuntu-latest

    permissions:
      contents: write  # IMPORTANT: mandatory for making GitHub Releases
      id-token: write  # IMPORTANT: mandatory for sigstore

    steps:
    - name: Download all the dists
      uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
      with:
        name: python-package-distributions
        path: ${{ env.DEST_FOLDER }}
    - name: Sign the dists with Sigstore
      uses: sigstore/gh-action-sigstore-python@f514d46b907ebcd5bedc05145c03b69c1edd8b46 # v3.0.0
      with:
        inputs: >-
          ./dist/*.tar.gz
          ./dist/*.whl
    - name: Create GitHub Release
      env:
        GITHUB_TOKEN: ${{ github.token }}
      run: >-
        gh release create
        '${{ github.ref_name }}'
        --repo '${{ github.repository }}'
        --notes ""
    - name: Upload artifact signatures to GitHub Release
      env:
        GITHUB_TOKEN: ${{ github.token }}
      # Upload to GitHub Release using the `gh` CLI.
      # `dist/` contains the built packages, and the
      # sigstore-produced signatures and certificates.
      run: >-
        gh release upload
        '${{ github.ref_name }}' dist/**
        --repo '${{ github.repository }}'

  publish-to-testpypi:
    name: Publish Python distribution to TestPyPI
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
    needs:
    - build
    runs-on: ubuntu-latest

    environment:
      name: testpypi
      url: https://test.pypi.org/p/drain-swamp

    permissions:
      id-token: write  # IMPORTANT: mandatory for trusted publishing

    steps:
    - name: Download all the dists
      uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
      with:
        name: python-package-distributions
        path: ${{ env.DEST_FOLDER }}

    - name: Publish distribution to TestPyPI
      uses: pypa/gh-action-pypi-publish@0ab0b79471669eb3a4d647e625009c62f9f3b241 # v1.10.1
      with:
        repository-url: https://test.pypi.org/legacy/
        skip-existing: true
